
.wipDetails {
    border-collapse: collapse;
    width: 50%;
    margin-top: 100px;
}

.wipDetails th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    width: 20%;
}

.wipDetails td {
    border: 1px solid black;
    padding: 8px;
    width: 80%;
    text-align: left;
}

#wipYearView {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

#wipYearView th {
    border: 1px solid black;
    text-align: left;
    width: 20%;
}

#wipYearView td {
    border: 1px solid black;
    text-align: left;
    width: 10%;
}

.numcell {
    border: 1px solid black;
    color: rgba(136, 136, 136, 0.5);
    text-align: left;
    width: 10%;
}

.numcell:hover {
    color: rgba(136, 136, 136, 1);
}

.blockcell {
    background-color: rgb(189, 242, 255);
    border: 2px yellow;
}

/* modify all this */

/* from here */
.menubar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #c9e2ff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
}

.nav {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.item a {
    position: relative;
    user-select: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }

.item a:hover {
    transition: color 150ms ease-in;
    transition: text-shadow 1000ms ease-in;
    text-shadow: 4px 4px 4px #3f3030;
    color: #000000;
}

a {
    text-decoration: none;
    text-shadow: 4px 4px 4px #ffc3c3;
    color: #ffae78;
    text-align: center;
  }
/* to here */

.container_wiplist {
    width: 100%;
    overflow: hidden;
}

#a .wipDetails {
    /* width: 50%;
    float: left;
    overflow: hidden; */
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}

#b .wiplist {
    /* z-index: 1;
    min-height: 100px;
    width: 50%;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: start; */
    border: 1px solid green;
    float: left; /* add this */
}



.wiplist {
    
}